{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div id="home_img">
        <h1>Social Network</h1>
        <img src="{{ asset('images/home-img-crop.jpg')}}">
    </div>
    <div id="posts_body">
        <div id="post_card">
            <img src="{{ asset('images/grid-1.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-2.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-3.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-4.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-5.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-6.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-7.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-8.jpg')}}">
        </div>
        <div id="post_card">
            <img src="{{ asset('images/grid-9.jpg')}}">
        </div>
    </div>

{% endblock %}